/* Two font faces */
@font-face
{
	font-family: "Iosevka Fixed";
	src:
		url("fonts/Iosevka-Fixed/IosevkaFixed-Regular.woff2") format("woff2");
}


@font-face
{
	font-family: "Julia Mono";
	src:
		url("fonts/JuliaMono/JuliaMono-Regular.woff2") format("woff2");
}


:root, ::backdrop
{
	--content-space-width: min(100vw, 100vh);

	--empty-space-width: calc( 100vw - var(--content-space-width) );

	--main-font: "Julia Mono";

	--border-width: 0.1rem;

	--color-background-1: #212121;

	--color-background-2: #2b2b2b;

	--color-background-interactive: #ffb30029;

	--color-text-normal: #dcdcdc;

	--color-text-marked: #14bb00;

	--color-text-shadowed: grey;

	--color-clickable-normal: #ffb300;

	--color-clickable-selected: #ffcd5b;

	--color-border: #545454;
}


img, video { opacity: 0.8;}


/* Marked text */
mark, code, kbd, blockquote > *
{
	color: var(--color-text-marked);
	background-color: unset;
}


/* Shadowed text */
figcaption
{
	color: var(--color-text-shadowed);
}


/* Anchors (links) */
a
{
	color: var(--color-clickable-normal);
	text-decoration: none;
}


/* Anchor selected */
a:hover
{
	color: var(--color-clickable-selected);
}


/* Color of clickable things when focused */
button:enabled:hover, input[type="submit"]:enabled:hover, input[type="reset"]:enabled:hover, input[type="button"]:enabled:hover
{
	background-color: var(--color-clickable-selected);
}


/* Gives border color to a border by definition */
hr
{
	color: var(--color-border);
}


html
{
	margin: 0;
	padding: 0;
	width: 100vw;
	color: var(--color-text-normal);
	background-color: var(--color-background-1);
	font-family: var(--main-font);
	scroll-behavior: smooth;
	font-size: 1rem;
}


body
{
	margin: 0px;
	padding: 0px;
	width: 100vw;
}


header
{
	margin: 0;
	background-color: var(--color-background-2);
	border-color: var(--color-border);
	border-bottom-style: solid;
	border-bottom-width: var(--border-width);
	text-align: center;
}


main, nav
{
	padding-right: calc( calc( var(--empty-space-width) / 2 ) + 0.4rem );
	padding-left: calc( calc( var(--empty-space-width) / 2 ) + 0.4rem );
	padding-top: 2rem;
	padding-bottom: 2rem;
}


header
{
	padding-right: calc( var(--empty-space-width) / 2 );
	padding-left: calc( var(--empty-space-width) / 2 );
	padding-top: 1rem;
	padding-bottom: 2rem;
}


*:first-child
{
	margin-top: 0px;
}


*:last-child
{
	margin-bottom: 0px;
}


ul
{
	margin-left: 0.5rem;
	border-left-style: solid;
	border-left-width: var(--border-width);
	border-left-color: var(--color-border);
}


/* Things that are centered */
figure, main > img, video, div.scroll
{
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 96%;
	height: auto;
}


figure > img
{
	width: 100%;
	height: auto;
}


body, main, figure, div
{
	box-sizing: border-box;
}


figure, div
{
	background-color: var(--color-background-2);
	padding: 1rem;
}


/* Container-like elements that have border */
figure, div.scroll
{
	border-style: solid;
	border-width: var(--border-width);
	border-color: var(--color-border);
}


/* Line height is the same for all textual elements */
h1, h2, h3, h4, h5, h6, p, li, figcaption
{
	line-height: 1.3em;
}


h1, h2, h3, h4, h5, h6
{
	font-size: 1.4rem;
	font-weight: bold;
	margin-top: 3rem;
	margin-bottom: 1.5rem;
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
}


/* Margin top and bottom for almost anything */
p, li, figcaption, img, figure, div, code, mark, ul
{
	margin-top: 2em;
	margin-bottom: 2em;
}


.scroll
{
	background-color: var(--color-background-2);
	overflow-x: scroll;
	overflow-y: hidden;
	text-wrap: nowrap;
}


/*Clickable things*/
input[type="submit"], input[type="reset"], input[type="button"]
{
	margin: 1rem;
	padding: 0.5rem;
	border-width: 0px;
	background-color: var(--color-clickable-normal);

	/* Text color is background-1 */
	color: var(--color-background-1);

	text-decoration: none;
}


#goTopButton
{
	position: fixed;
	bottom: 0px;
	right: 0px;
}


#viewSelectors
{
	margin: 0px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	border-bottom-style: solid;
	border-bottom-width: var(--border-width);
	border-bottom-color: var(--color-border);
	background-color: var(--color-background-interactive);
}


input.viewSelector
{
	margin: 0;
}

